 /*------------------------------------------------------------------------------------------------------------------*/
/* PÁGINA CONTACTO.HTML */
/*------------------------------------------------------------------------------------------------------------------*/
 
 .contenedor{
    width: 100%;
    padding: 5px;
    background-color: rgb(243, 224, 190);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-formulario{
    width: 100%;
    max-width: 70%;
    background-color:rgb(221, 188, 126);
    padding: 60px;
    text-align: center;
    border-radius: 10px;
}

.contenedor-formulario h1{
    margin-bottom: 60px;
    position: relative;
}

 .contenedor-formulario h1 ::after{
    width: 50px;
    height: 4px;
    border-radius: 3px;
    background-color:  rgb(243, 224, 190);
    position: absolute;
}

.label{
    display: flex;
    cursor: pointer;
}

.grupo-input{
    position: relative;
}

.input-datos{
    width: 100%;
    background-color: rgb(221, 188, 126);
    margin: 15px 0;
    padding: 20px;
    border: 1px solid ;
    border-radius: 5px;
    height: 45px;
    transition: .3s ease all;
    display: flex;
    align-items: center;
    /* overflow: hidden; */
    line-height: 45px;
}

.input-datos:focus{
    border: 3px solid;
    outline: none;
}

.input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.input-error-activo{
    display: block;
}

.validacion-estado{
    position: absolute;
    left: 3px;
    bottom: 15px;
}

.validacion-estado2{
    position: absolute;
    color: rgb(39, 158, 39) ;
    right: 3px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0; 
} 

.comentarios{
    color: rgb(75, 49, 36);
   
}

.comentarios textarea{
    width: 100%;
    background-color: rgb(221, 188, 126);
    border: 1px solid;
    margin: 5px;
}

.checkbox{
    margin: 0;
}

.grupo-terminos,
.grupo-mensaje,
.grupo-formulario-grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mensaje{
    float: left;
    width: 100%;
    height: 100%;
    line-height:45px ;
    background-color: rgb(209, 56, 56);
    padding: 0 5px;
    border-radius: 3px;
    display: none;
}

.mensaje-activo{
    display: block;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
}

.mensaje p{
    margin: 0;
}

.formulario-grupo-btn-enviar{
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}


.boton{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 45px;
    line-height: 45px;
    width: 100%;
    background-color:rgb(75, 49, 36);
    color: rgb(243, 224, 190);
    border: 1px;
    border-radius:3px;
    cursor: pointer;
    transition: .1s ease all;
}

 .boton:hover{
    color: rgb(75 49 36);
    background-color: rgb(243 224 190);
}
.boton-activo{
    display: none;
}

.mensaje-exitoso{
    font-size: 14px;
    color: rgb(39, 158, 39);
    display: none;
}

 .mensaje-exitoso-activo{
    display: block;
 } 


  /*------------------------------------------------------------------------------------------------------------------*/
/* VALIDACIONES DE ESTILOS*/
/*------------------------------------------------------------------------------------------------------------------*/

.grupo-correcto .validacion-estado{
    color: rgb(39, 158, 39);
    opacity: 1; 
}

.grupo-correcto .validacion-estado2{
    color: rgb(39, 158, 39);
    opacity: 1;
}

.grupo-incorrecto .label{
    color: red;
}

.grupo-incorrecto .validacion-estado2{
    color: red;
    opacity: 1;
}

.grupo-incorrecto .input-datos{
     border: 3px solid red;

}
  
