*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    /* background-color: rgb(203, 121, 63); */
    background-color: rgb(75, 49, 36);
    width: auto;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

#logo img {
    width: 120px;
    height: 60px;
    float:left;
}

header {
    /* background-color: rgb(203, 121, 63); */
    background-color: rgb(75, 49, 36);
    width: auto;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

#logo img {
    width: 120px;
    height: 60px;
    float:left;
}

#menu_principal {
    float:inline-end;
    margin: 10px 10px;
}

#menu_principal ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


#menu_principal ul li {
    display: inline;
}

#menu_principal ul li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(182, 108, 55); */
    background-color: rgb(75, 49, 36);
    color:white;
}

#menu_principal ul li a:hover {
    background-color: rgb(182, 108, 55);
}

#menu_principal_mobile{
    display: none;
}

#boton_menu_mobile {
    height: 40px;
    float:inline-end;
    padding: 5px 10px;
    margin:10px 10px;
    font-size:30px;
    color:#fff;
    background-color: rgb(75, 49, 36);
}

#boton_menu_mobile:hover {
    cursor: pointer;
    background-color: rgb(182, 108, 55);
}

#menu_principal_mobile_opciones{
    width: 100%;
    height: 0;
    /* transition: height 2s; */
    display:none;
    position:relative;
    margin-top: 70px;
    background-color: rgb(75, 49, 36);
}

#menu_principal_mobile_opciones a:hover{
    width:100%;
    cursor: pointer;
    background-color: rgb(182, 108, 55);
}

#menu_principal_mobile ul {
    /* margin: 70px; */
    background-color: rgb(75, 49, 36);
    padding: 0;
    list-style-type: none;    
}

#menu_principal_mobile ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(182, 108, 55); */
    background-color: rgb(75, 49, 36);
    color:#fff;
}
.Participantes {color: rgb(151, 31, 31);
list-style: none;
text-decoration: none;
font-style: 20;
font-family: "Caveat", cursive;}
.parrafo {text-decoration: none; }

.primero {font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    padding: 10px;
    color: #000;}
.segundo { font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    padding: 10px;
    color: #000;
    text-align: justify;}
tercero { font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    padding: 10px;
    color: #000;
    text-align: justify;
    margin: 10px;
}
.miembros{font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    padding: 10px;
    color: #000;
}
.cuarto{font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    padding: 10px;
    color: #000;
    text-align: justify;
    margin: 10px;}
.quinto{font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    padding: 10px;
    color: #000;
    text-align: justify;
    margin: 10px; }
.sexto{font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    padding: 10px;
    color: #000;
    text-align: justify;
    margin: 10px;}
    .fotos{ border: #1b0e0e solid;
    border-radius: 5px;
    }
    .imagenes{display:flex;
    justify-content: center;}
    h3 { display: flex; text-align: center;
    }
